# Port Server Express
PORT=5000

# Saat Pengujian Lokal: Gunakan SQLite
DATABASE_URL="file:./dev.db"

# Saat Pindah ke Production (PostgreSQL):
# DATABASE_URL="postgresql://postgres:password@localhost:5432/kostara_db?schema=public"

JWT_SECRET="ganti-dengan-secret-key-acak-32-karakter"
FRONTEND_URL="http://localhost:3000"
